:root {
  --header-color: #212121;
  --btn-color: #ffffff;
  --accent-color: #2196f3;
  --first-title-color: #ffffff;
  --second-title-color: #212121;
}
.body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.list,
.list-portfolio,
.portfolio-filters,
.footer-list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.link-current {
  text-decoration: none;
}

/*------------------------НEADER------------------------*/

.header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-logo-color {
  color: var(--header-color);
}

.header-link,
.header-email,
.header-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
}

.header-link:hover,
.header-link:focus,
.header-email:hover,
.header-email:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.link-current {
  color: var(--accent-color);
}

/*.header-tel 
{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}*/

.section-title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 94px;
  background: #2f303a;
}

.title {
  background-color: lightcoral;
  margin-bottom: 30px;
  margin-top: 0px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-title-color);
}
.header-btn {
  display: inline-block;

  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--accent-color);
}

/*------------------------Section(Преимущества)------------------------*/
.section-list {
  margin-top: 0px;
  margin-bottom: 94px;
  background-color: lightcoral;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.list-decision {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.list-task {
  margin-top: 0px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/*------------------------Section(Чем занимаемся)------------------------*/
.about {
  width: 1200px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;

  background-color: lightcoral;
}
.about-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.about-item {
  margin-top: 0px;
  margin-bottom: 54px;
}

/*------------------------Section(Наша команда)------------------------*/
.heroes {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  background: #f5f4fa;
}
.about-heroes {
  margin-top: 0px;
  margin-bottom: 50px;
  padding-top: 94px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}
.list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 94px;
}
.list-heroes {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}
.list-specialties {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/*------------------------FOOTER------------------------*/

.footer-link {
  background: #2f303a;
}
.footer-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-list {
}

.footer-logo-color {
  color: var(--first-title-color);
}
.footer-adress {
  margin-top: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
}
.footer-mailto,
.footer-tel {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-mailto:hover,
.footer-mailto:focus,
.footer-tel:hover,
.footer-tellipse,
.footer-adress:hover,
.footer-adress:focus {
  color: var(--accent-color);
}
/*------------------------PORTFOLIO------------------------*/

/*------------------------ФИЛЬТРЫ------------------------*/
.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
/*------------------------Список инструментов------------------------*/
.list-portfolio {
  cursor: pointer;
}
/*------------------------Геометрия стилей------------------------*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: lightcoral;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
