:root {
  --header-color: #212121;
  --btn-color: #ffffff;
  --accent-color: #2196f3;
  --first-title-color: #ffffff;
  --second-title-color: #212121;
}
body {
  margin: 0px;
  font-family: Roboto, sans-serif;
}

.list,
.list-portfolio,
.portfolio-filters,
.footer-list,
.about-item,
.list-contacts,
.list-team,
.masters-social-list {
  list-style: none;
}

.link,
.link-header-link,
.link-current-header-link,
.nav-tool-portfolio {
  text-decoration: none;
}
.link-current {
  text-decoration: none;
}

/*------------------------НEADER------------------------*/
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
}
.nav-header {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-logo-color {
  color: var(--header-color);
}
.header-list {
  padding: 0px;
  display: flex;
  margin-left: 93px;
}
.header-item {
  margin-right: 50px;
}
.header-item:last-child {
  margin-right: 0px;
}
.link-header-link,
.link-current-header-link {
  padding-top: 32px;
  padding-left: 32px;
}
.header-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.header-link,
.header-email,
.header-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
}

.header-email,
.header-tel {
  color: #757575;
}

.header-link:hover,
.header-link:focus,
.header-email:hover,
.header-email:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.link-current {
  color: var(--accent-color);
}
.list-contacts {
  font-weight: 500;
  display: flex;
  padding: 0px;
  margin: 0px;
  margin-left: auto;
}
.list-contacts.header-item + .header-item {
  margin-left: 50px;
}
/*.header-tel 
{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}*/

.section-title {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin: 0px;
}
.div-title-section {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  margin: 0px;
  margin-bottom: 30px;

  font-weight: 900;

  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-title-color);
}
.header-btn {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--accent-color);
}

/*------------------------Section(Преимущества)------------------------*/

.section-list {
  padding-bottom: 94px;
  padding-top: 94px;

  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.div-list-section {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  display: flex;
}

.list-benefits {
  margin-left: 30px;
}
.list-benefits:first-child {
  margin-left: 0px;
}
.list-decision {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.list-task {
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/*------------------------Section(Чем занимаемся)------------------------*/
img {
  display: block;
  width: 100%;
  height: auto;
}
.about {
  width: 1200px;
  margin-top: 0px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}
.div-about {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.about-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.list-about-list {
  justify-content: space-between;
  margin-bottom: 94px;
  display: flex;
  margin: 0px;

  padding-bottom: 0px;
  padding: 0px 0px;
}
.about-item {
  margin-left: 30px;
}
.about-item:first-child {
  margin-left: 0px;
}

/*------------------------Section(Наша команда)------------------------*/
.heroes {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 94px;
  padding-top: 94px;
  text-align: center;
  background: #f5f4fa;
}
.div-heroes {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.about-heroes {
  margin: 0px;

  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}
.heroes-list {
  display: flex;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  justify-content: center;
}
.list-team {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  margin: 0px;
  margin-left: 30px;
}
.list-team:first-child {
  margin-left: 0px;
}
.list-heroes {
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}
.list-specialties {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.masters-social-list {
  padding: 0px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
.masters-social-item + .masters-social-item {
  margin-left: 10px;
}
.masters-social-link {
  width: 44px;
  height: 44px;
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.masters-social-icon {
  background-color: violet;
  width: 20px;
  height: 20px;
  fill: white;
}
/*------------------------FOOTER------------------------*/

.footer-link {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.div-footer {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer-list {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}
.footer-logo-color {
  color: var(--first-title-color);
}
.li-item {
  margin-bottom: 9px;
}
.li-item:last-child {
  margin-bottom: 0px;
}
.footer-adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
}
.footer-mailto,
.footer-tel {
  margin: 0px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-mailto:hover,
.footer-mailto:focus,
.footer-tel:hover,
.footer-tellipse,
.footer-adress:hover,
.footer-adress:focus {
  color: var(--accent-color);
}

/*------------------------PORTFOLIO------------------------*/

/*------------------------ФИЛЬТРЫ------------------------*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-filters {
  display: flex;
  justify-content: center;

  margin: 0px;
  padding: 0px;

  margin-bottom: 50px;
}
.filters-btn {
  margin-left: 8px;
}
.filters-btn:first-child {
  margin-left: 0px;
}
.portfolio-btn {
  display: inline-block;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/*-  display: flex;
  flex-wrap: wrap;
  justify-content: center;-/*
/*------------------------Список инструментов------------------------*/
.nav-tool-portfolio {
  display: block;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

.list-tool-portfolio {
  width: 370px;
  width: calc(100 / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.list-tool-portfolio:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.list-tool-portfolio:nth-child(3n) {
  margin-right: 0px;
}
.nav-tool-portfolio {
  display: block;
}
.div-portfolio-list {
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;

  margin: 0px;
}
.list-decision-portfolio {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0px;
  color: #212121;
}
.list-tool {
  margin: 0px;
  width: 322px;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
/*------------------------ГEOМЕТРИЯ СТИЛЕЙ------------------------*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  margin: 0px;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
