:root {
  --header-color: #212121;
  --btn-color: #ffffff;
  --accent-color: #2196f3;
  --first-title-color: #ffffff;
  --second-title-color: #212121;
}
.body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.list,
.list-portfolio,
.portfolio-filters,
.footer-list,
.about-item,
.list-contacts,
.list-team {
  list-style: none;
}

.link,
.link-header-link,
.link-current-header-link {
  text-decoration: none;
}
.link-current {
  text-decoration: none;
}

/*------------------------НEADER------------------------*/
.main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-logo-color {
  color: var(--header-color);
}
.header-list {
  padding: 0px;
  margin: 0px;
  display: flex;
  margin-left: 93px;
}
.header-item {
  background-color: lawngreen;
  margin-right: 50px;
}
.header-item:last-child {
  margin-right: 0px;
}
.link-header-link,
.link-current-header-link {
  padding-top: 32px;
  padding-left: 32px;
}
.header-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.header-link,
.header-email,
.header-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
}

.header-link:hover,
.header-link:focus,
.header-email:hover,
.header-email:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.link-current {
  color: var(--accent-color);
}
.list-contacts {
  display: flex;
  padding: 0px;
  margin: 0px;
  margin-left: auto;
}
.list-contacts.header-item + .header-item {
  margin-left: 50px;
}
/*.header-tel 
{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}*/

.section-title {
  text-align: center;
  margin: 0px;
  background: #2f303a;
}

.title {
  margin: 0px;
  padding-bottom: 30px;
  padding-top: 200px;
  font-weight: 900;

  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-title-color);
}
.header-btn {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--accent-color);
}

/*------------------------Section(Преимущества)------------------------*/

.section-list {
  margin: 0px;
  padding-bottom: 94px;
  padding-top: 94px;

  background-color: lightcoral;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  padding: 0px;
  display: flex;
}

.list-benefits {
  margin-left: 30px;
}
.list-benefits:first-child {
  margin-left: 0px;
}
.list-decision {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.list-task {
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/*------------------------Section(Чем занимаемся)------------------------*/
.about {
  width: 1200px;
  margin-top: 0px;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;

  background-color: lightcoral;
}
.about-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.list-about-list {
  margin-bottom: 94px;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding: 0px 0px;
}
.about-item {
  margin-left: 30px;
}
.about-item:first-child {
  margin-left: 0px;
}

/*------------------------Section(Наша команда)------------------------*/
.heroes {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 94px;
  text-align: center;
  background: #f5f4fa;
}
.about-heroes {
  margin: 0px;

  padding: 94px 0px 50px 0px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}
.heroes-list {
  display: flex;
  margin: 0px;

  padding: 0px;
  justify-content: space-between;
}
.list-team {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  margin-left: 30px;
}
.list-team:first-child {
  margin-left: 0px;
}
.list-heroes {
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}
.list-specialties {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/*------------------------FOOTER------------------------*/

.footer-link {
  background: #2f303a;
}
.footer-nav {
  margin: 0px;
  padding: 60px 1240px 20px 215px;
}
.footer-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-list {
  width: 231px;
  padding: 0px;
  margin: 20px 1154px 60px 215px;
  display: inline-block;
}
.footer-logo-color {
  color: var(--first-title-color);
}

.footer-adress {
  margin: 0px;
  padding: 0px 0px 9px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
}
.footer-mailto,
.footer-tel {
  margin: 0px;
  padding: 0px 0px 9px 0px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
  margin: 0px;
  padding: 0px 0px 0px 0px;
}
.footer-mailto:hover,
.footer-mailto:focus,
.footer-tel:hover,
.footer-tellipse,
.footer-adress:hover,
.footer-adress:focus {
  color: var(--accent-color);
}

/*------------------------PORTFOLIO------------------------*/

/*------------------------ФИЛЬТРЫ------------------------*/
.portfolio-filters {
  display: flex;

  margin: 0px;
  padding: 94px 0px 50px 250px;
}
.filters-btn {
  margin-left: 8px;
}
.filters-btn:first-child {
  margin-left: 0px;
}
.portfolio-btn {
  display: inline-block;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
/*------------------------Список инструментов------------------------*/
.list-portfolio {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
.list-tool-portfolio {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.list-tool-portfolio:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.list-tool-portfolio: {
  margin-bottom: 0px;
}
.list-decision-portfolio {
  margin: 0px;
  padding: 20px 24px 4px 24px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.list-tool {
  margin: 0px;
  padding-bottom: 20px;
  padding-left: 20px;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
/*------------------------ГEOМЕТРИЯ СТИЛЕЙ------------------------*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  background-color: lightcoral;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
